
.separator {
	border: 0;
	border-bottom: 1px solid var(--border-color);
	opacity: 0.5;
	margin: 16px 0;
}

.section-title {
	display: inline-block;
	margin-left: 12px;
	margin-bottom: 8px;
	font-size: 1.1em;
}

.info input {
	width: calc(100% - 24px);
}

.checkbox {
	display: flex;
	margin: 12px 0;
	margin-left: 12px;

	user-select: none;
	cursor: pointer;

	&:has(input:disabled) {
		cursor: not-allowed;
	}

	&:focus-within {
		outline: 2px solid var(--border-color);
	}

	& input {
		position: absolute;
		opacity: 0;
		pointer-events: none;
	}

	& .switch {
		width: 44px;
		height: 22px;
		min-width: 44px;

		margin: 0 12px;
		border-radius: 22px;
		background: #9f1239;

		& .handler {
			width: 16px;
			height: 16px;
			background: white;
			margin: 3px;
			border-radius: 50%;
		}
	}
}

.alert {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 100%;
}
