
:root {
	--background: #eff6ff;
	--foreground: #0f172a;
	--border-color: #312e81;

	--background-secondary: #1e40af;
	--background-secondary-active: #60a5fa;
}

html,
body {
	min-width: 100vw;
	min-height: 100vh;

	margin: 0;
	padding: 0;

	background: var(--background);
	color: var(--foreground);
}

::selection {
	background: #38bdf8;
	color: var(--foreground);
}

input,
button,
.button,
select {
	display: block;
	padding: 8px 12px;
	border: 1px solid var(--border-color);
	border-radius: 8px;

	font: inherit;
	font-size: inherit;
	text-decoration: none;

	color: var(--foreground);
	background: #f8fafc;

	transition: background 0.2s ease;

	&:hover,
	&:focus-visible {
		background: #e2e8f0;
	}
}

button,
.button {
	cursor: pointer;
	text-align: center;
}

.dashboard {
	display: flex;
	flex-direction: row;

	width: 100vw;
	height: 100vh;

	& > nav {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		background: var(--background-secondary);
		width: 280px;
		min-width: 280px;
		z-index: 1000;

		& .links {
			display: flex;
			align-items: center;
			flex-direction: column;
		}

		& .title {
			color: var(--background);
			font-size: 2.2em;
			padding: 12px 0;

			user-select: none;
		}

		& a {
			display: flex;
			align-items: center;

			position: relative;
			width: 100%;
			padding: 14px 0;

			color: var(--background);
			text-decoration: none;
			font-weight: bold;

			transition: color 0.2s ease;

			& img {
				padding: 0 14px;
				filter: invert(1);

				transition: filter 0.2s ease;
			}

			& .background {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 100%;

				background: var(--background-secondary-active);
				transition: right 0.23s ease-in-out;
			}

			& span {
				z-index: 1;
			}

			&:hover,
			&:focus-visible {
				color: var(--foreground);

				& img {
					filter: invert(0);
				}

				& .background {
					right: 0%;
				}
			}
		}

		& .user {
			display: flex;
			flex-direction: column;
			gap: 4px;

			& > span {
				display: flex;
				align-items: center;
				color: var(--background);

				& img {
					filter: invert(1);
					margin: 0 8px;
				}
			}

			& hr {
				margin: 0;
				border: 0;

				margin-top: 6px;
				border-bottom: 1px solid var(--background);
				opacity: 0.5;
			}
		}
	}

	& > main {
		overflow: auto;
		flex-grow: 1;

		padding: 0;
		margin: 0;
	}
}

table {
	border: 1px solid var(--border-color);
	border-radius: 8px;
	margin: 12px auto;

	border-spacing: 0;
	overflow: hidden;

	width: calc(100% - 60px);

	td,
	th {
		padding: 6px 12px;
		border-bottom: 1px solid var(--border-color);

		&.actions a:not(:first-child) {
			margin-left: 8px;
		}
	}

	th {
		text-align: left;

		background: #1e3a8a;
		color: var(--background);
	}

	tr:last-child td {
		border-bottom: 0;
	}
}

.table-container {
	display: block;
	overflow-x: auto;
	height: fit-content;

	padding: 0 12px;
	width: calc(100% - 24px);
}

.notifications-container {
	position: fixed;
	right: 0;
	bottom: 0;

	& .notification {
		display: flex;
		align-items: center;

		padding: 12px 18px;
		margin: 8px;
		border-radius: 12px;

		box-shadow: 0 0 6px #00000040;

		background: #155e75;
		color: white;

		& button {
			display: flex;
			padding: 0;
			margin: 0;
			margin-left: 12px;

			border: 0;
			background: transparent;

			& img {
				filter: invert(1);
			}

			&:hover,
			&:focus-visible {
				background: #ffffff40;
			}
		}

		&.error {
			background: #9f1239;
		}

		&.alert {
			background: #ca8a04;
			color: black;

			& img {
				filter: unset;
			}
		}

		&.success {
			background: #166534;
		}
	}
}

.nav-toggle {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 48px;
	height: 48px;

	position: fixed;
	left: 8px;
	top: 8px;
	z-index: 1001;

	border: 1px solid var(--background);
	background: var(--background-secondary);
	box-shadow: 0px 0px 8px #00000050;

	& img {
		filter: invert(1);
		transition: filter 0.2s;
	}

	&:hover,
	&:focus-visible {
		background: var(--background-secondary-active);

		& img {
			filter: invert(0);
		}
	}
}

@media screen and (max-width: 1000px) {
	.dashboard > main {
		padding-top: 38px;
	}

	.dashboard > nav {
		position: fixed;
		height: 100vh;

		box-shadow: 0px 0px 12px #000000a0;

		& .title {
			width: 100%;
			text-align: left;
			margin-left: 18px;
		}
	}
}
