
:root {
	--background: #eff6ff;
	--foreground: #0f172a;
	--border-color: #312e81;

	--background-secondary: #1e40af;
	--background-secondary-active: #60a5fa;
}

html,
body {
	min-width: 100vw;
	min-height: 100vh;

	margin: 0;
	padding: 0;

	background: var(--background);
	color: var(--foreground);
}

::selection {
	background: #38bdf8;
	color: var(--foreground);
}

input,
button {
	padding: 8px 12px;
	border: 1px solid var(--border-color);
	border-radius: 8px;

	outline: none;
	font: inherit;
	font-size: inherit;

	color: var(--foreground);
	background: #f8fafc;

	transition: background 0.2s ease;

	&:hover,
	&:focus-visible {
		background: #e2e8f0;
	}
}

.dashboard {
	display: flex;
	flex-direction: row;

	width: 100vw;
	height: 100vh;

	& > nav {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		background: var(--background-secondary);
		width: 280px;

		& .links {
			display: flex;
			align-items: center;
			flex-direction: column;
		}

		& .title {
			color: var(--background);
			font-size: 2.2em;
			padding: 12px 0;

			user-select: none;
		}

		& a {
			display: flex;
			align-items: center;

			position: relative;
			width: 100%;
			padding: 14px 0;

			color: var(--background);
			text-decoration: none;
			font-weight: bold;

			transition: color 0.2s ease;

			& img {
				padding: 0 14px;
				filter: invert(1);

				transition: filter 0.2s ease;
			}

			& .background {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 100%;

				background: var(--background-secondary-active);
				transition: right 0.23s ease-in-out;
			}

			& span {
				z-index: 1;
			}

			&:hover,
			&:focus-visible {
				color: var(--foreground);

				& img {
					filter: invert(0);
				}

				& .background {
					right: 0%;
				}
			}
		}
	}

	& > main {
		overflow: auto;
		flex-grow: 1;

		padding: 0;
		margin: 0;
	}
}

table {
	border: 1px solid var(--border-color);
	border-radius: 8px;
	margin: 12px auto;

	border-spacing: 0;
	overflow: hidden;

	width: calc(100% - 60px);

	td,
	th {
		padding: 6px 12px;
		border-bottom: 1px solid var(--border-color);
	}

	th {
		text-align: left;

		background: #1e3a8a;
		color: var(--background);
	}

	tr:last-child td {
		border-bottom: 0;
	}
}

h1.title {
	margin-left: 52px;
}
