
:root {
	--background: #ffffff;
	--foreground: #171717;
	--border-color: #353574;
}

html,
body {
	min-width: 100vw;
	min-height: 100vh;

	margin: 0;
	padding: 0;

	background: var(--background);
	color: var(--foreground);
}
