
.form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;

	margin: 32px auto;
	gap: 12px;
	row-gap: 32px;
}

.title {
	text-align: center;
}

.input-label {
	position: relative;

	& span {
		position: absolute;
		left: 8px;
		top: -24px;
	}
}


